<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
  <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
      <h2 class="m-0" style="color: #06BBCB;"><i class="fa fa-book me-3"></i>DevNovate</h2>

  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
       

          <a routerLink="/signup" class="nav-item nav-link">Logout</a>


      </div>

  </div>
</nav>


 <style>
  .clickdisc {
    background-color: rgba(128, 128, 128, 0.183);
    border-radius: 10px;
  }
</style>
<br>



<div class="main-wrapper">

    <div class="page-content">
      <div class="container mt-5">

        <div class="row">
          <div class="col-md-4 col-12 card-stacked" style="height: 500px; overflow: scroll;">
            <div class="card shadow-line mb-3 chat">
              <div class="chat-user-panel">
                <div class="pb-3 d-flex flex-column navigation-mobile pagination-scrool chat-user-scroll">
                  <div (click)="clickUser(i)" class="chat-item d-flex "
                    [ngClass]="{'clickdisc' : userClick?.id == i.id}" *ngFor="let i of users"
                    style="justify-content: space-between; padding: 10px;">
                    <div>
                      <div class="d-flex">
                     <img class="rounded-circle shadow avatar-sm mr-3"
                        *ngIf="i.image"
                        src="http://localhost:5555/api/user/files/{{i?.image}}">
                        <div>
                          <p style="font-weight: bold; margin-top: 10px; font-family: Arial, Helvetica, sans-serif;">
                            {{capitalizeFirstLetter(i.name)}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="flex-shrink-0 margin-auto pl-2 pr-3">
                      <div class="d-flex flex-column">
                        <!-- <p class="text-muted text-right fs-13 mb-2">08:21</p> -->
                         <span class="round badge badge-light-success margin-auto"
                          *ngIf="countMessage(i.id) > 0">{{countMessage(i.id)}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-12 card-stacked">
            <div class="card shadow-line mb-3 chat chat-panel" style="height: 500px;">
              <div *ngIf="userClick" style="height: 500px; overflow: scroll;" #myScrollContainer class="d-flex flex-row">
                <div class="w-100 p-3">
                  <div *ngFor="let m of messages">
                    <div *ngIf="m.rec == userClick.id && m.sender == me">
                      <div class="d-flex flex-row-reverse mb-2">
                        <div class="pr-4">
                          <img *ngIf="currentUser$ | async as currentUser" src="http://localhost:5555/api/user/files/{{ currentUser?.image }}" alt="Image" style="border-radius: 30%; width: 30px; height: 30px; margin-left: 5px;">

                        </div>
                        <div class="right-chat-message fs-13 mb-2">
                          <div class="mb-0 mr-3 pr-4">
                            <div class="d-flex flex-row">
                              <div class="pr-2">{{ m.content }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="m.rec == me && m.sender == userClick.id">
                      <div class="pr-4">
                        <img src="http://localhost:5555/api/user/files/{{ userClick?.image }}" alt="Image" style="border-radius: 30%; width: 30px; height: 30px; margin-left: 5px;">
                      </div>
                      <div class="left-chat-message fs-13 mb-2" *ngIf="m.sender !== me.id">
                        <div class="mb-0 mr-3 pr-4">
                          <div class="d-flex flex-row">
                            <div class="pr-2">{{ m.content }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>






              <div *ngIf="userClick" class="chat-search pl-3 pr-3">
                <div class="input-group">
                  <input type="text" [(ngModel)]="messageInput" (keyup.enter)="sendMessage(messageInput)" class="form-control" placeholder="Write a message">
                  <button class="btn btn-primary" (click)="sendMessage(messageInput)">Send</button>

                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>




