<div *ngFor="let test of tests" class="test-container">
  <h3>{{ test.name }}</h3>
  <p>{{ test.description }}</p>
  <div *ngFor="let question of test.questions" class="question-container">
    <p class="question-text">{{ question.text }}</p>
    <form (submit)="submitAnswer(test.id, question.id)" class="question-form">
      <div *ngIf="question.type === 'Choix Multiple'" class="options-container">
        <div *ngFor="let suggestion of question.suggestions">
          <input type="checkbox" [id]="suggestion.id" (change)="updateSelectedOptions($event, suggestion.text, question.id)">
          <label [for]="suggestion.id">{{ suggestion.text }}</label>
        </div>
      </div>
      <div *ngIf="question.type !== 'Choix Multiple'" class="options-container">
        <div *ngFor="let suggestion of question.suggestions">
          <input type="radio" [name]="question.id" [id]="suggestion.id" [value]="suggestion.text">
          <label [for]="suggestion.id">{{ suggestion.text }}</label>
        </div>
      </div>
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>
</div>
