.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.custom-select {
  width: 100%;
}

.question-array {
  margin-bottom: 20px;
}

.question-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.suggestions-container {
  margin-top: 10px;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.add-button,
.add-button-s {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.add-button-s {
  margin-left: 5px;
  border-radius: 5px;
}

.submit-button {
  background-color: purple;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}
